body {
  font-family: sans-serif;
    width: 990px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    background-color: White;
}

h1 {
  background-color: lightgreen;
  border-color: black;
  text-align: center;
  border-style: solid;
}

h2 {
  text-align: center;
}

.left_block {
  width: 30%;
  display: inline-block;
  float: left;
  position: relative;
}

.center_block {
  width: 40%;
  display: inline-block;
  float: left;
  position: relative;
}

.right_block {
  width: 30%;
  display: inline-block;
  float: left;
  position: relative;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
  margin-bottom: 1cm;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}


.organiser {
  text-align: center !important;
  border: 0px !important;
  vertical-align: top !important;
  padding-right: 10px !important;
}

meter {
  width: 500px;
  height: 25px;
}

.meter-value {
  font-style: bold;
}


nav {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 5px;
}

nav a {
  background: darkgreen;
  border: 3px solid black;
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  width: 90px;
}

nav a:hover {
  background: white;
  border: 3px solid black;
  color: black;
}

.statistics {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 5px;
}

.statistics a {
  background: green;
  border: 3px solid black;
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 14px;
  text-decoration: none;
  width: 130px;
}

.statistics a:hover {
  background: white;
  border: 3px solid black;
  color: black;
}
