table, th, td {
  text-align: center;
  border: 1px solid black;
  margin-bottom: 1cm;
}

meter {
  width: 500px;
  height: 25px;
}

.meter-value {
  font-style: bold;
}

body {
  background-color: White;
}
